.home-about_info-link:hover{
  text-decoration: underline;
}

.footer_title,
.footer_text {
  transition: all 0.3s ease-in-out;
  
}

.footer_content:hover .footer_title,
.footer_content:hover .footer_text {
  opacity: 0.2;
}

.load_grid {
  display: grid;
}